/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;600;700&display=swap'); */

* {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --main-color: #2B6151;
    --text-color: #000000;
    --background-color: #fffff1;
    --box-shadow: rgba(0, 0, 0, 0.1)0px 5px 10px -3px;
    ;
    --border-radius: 5px;
    --padding-top: 100px;
    --padding-bottom: 100px;
    --transation: 0.7s;
}

.page {
    background-color: #ffffff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black !important;
    font-weight: bold;
}

.main-title {
    padding-right: 100px;
    margin: 50px 0;
    color: #2B6151;

}

.container {
    padding-left: 200px;
    padding-right: 200px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:767px) {}

.header {
    /* background-color: var(--background-color); */
    box-shadow: 0px -6px 9px black;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.linkes ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linkes ul li {
    padding-left: 40px;
}

/* Start landing style */
.landing {
    padding-top: 100px;
    
    /* padding-bottom: 100px; */
}
.landing .container .info-landing {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}
.landing .container .info-landing img {
    color: white;
}
.landing .info-landing {
    border-radius: 20px;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-right: 20px;
    background: rgb(20,46,38);
    background: linear-gradient(90deg, rgba(20,46,38,1) 3%, rgba(43,97,81,1) 40%, rgba(114,172,154,1) 100%); 
}
.landing .title {
    color: white;
    width: 90%;
}

.landing .info-landing p {
    padding-top: 30px;
    font-weight: 500;
    line-height: 1.9em;
   /* padding-left: 30px; */
   color: white;
}

.btn-more {
    background-color: var(--background-color);
    margin-top: 20px;
    padding: 10px 5px;
    border: none;
    font-weight: bold;
    border-radius: 6px 0;

}

/*  Start Certifacte */
.certfacite,
.projects {
    padding-top: 100px;
    padding-bottom: 100px;
}

.certfacite .container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 20px;
}

.projects .container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

@media (max-width:767px) {
    .projects .container {
        width: 100%;
    }
}

@media (max-width:767px) {
    .certfacite .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
    }
}

.box img {
    width: 30px;
    display: block;
    margin-left: 100px;
}

.count-img {
    background-color: #2B6151;
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.certfacite .box {
    color: #142e26;
    font-weight: bold;
    border-radius: 20px;
    width: 100%;
    padding: 40px 20px;
    background-color: rgb(230, 230, 230);
    /* box-shadow: var(--box-shadow); */
}

.certfacite .box h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.certfacite .box p {
    padding-bottom: 20px;
    color: inherit;
    font-weight: 500;
    line-height: 1.9em;
}

.certfacite .box::before {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.projects .box {
    border: 1px solid #2B6151;
    padding: 10px;
    border-radius: 20px;
    color: #142e26;
}
.projects .box img {
    margin: auto;
    padding-top: 30%;
}

.projects .box h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.projects .box p {
    padding-bottom: 20px;
    font-weight: 500;
    line-height: 1.9em;
}

.project-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(237, 237, 237, 0.6);
    margin: 20px;
}

.project-filter li {
    margin: 10px;
    padding: 5px 20px;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
}

.project-filter-active {
    border: 1px solid black;
    background-color: var(--background-color);
    border-radius: 6px;
}

.project-box i {
    margin-top: 10px;
    border: 1px soild #000000;
    background-color: var(--background-color);
}

.project-box button {
    padding: 5px 10px;
    margin: 10px 0;
    outline: none;
    border: none;
    background-color: var(--background-color);
    font-weight: 400;
    cursor: pointer;
    border-radius: 8px;
    color: black;
}

@media (max-width:767px) {
    .project-filter li {
        padding: 5px 10px;
    }
}

/* Start skills */
.skills {
    width: 100%;
    padding-bottom: 100px;
}

.skill {
    padding-top: 10px;
}

.skill-name {
    font-weight: bold;
    font-size: 18px;
    margin: 5px 0;
}

.skill-bar {
    background-color: #f1f1f1;
    font-weight: bold;
    height: 14px;
    border-radius: 3px;
}

.skill-ber {
    background-color: black;
    height: 14px;
    position: relative;
    color: #ffffff;
}

.skill-ber::before {
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background-color: var(--text-color);
    border-radius: 4px;
    top: -40px;
    right: 0;
    transform: translateX(50%);
}

.skill-ber::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: var(--text-color);
    top: -15px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
}

@media (max-width:767px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .linkes ul {
        display: none;
    }

    .header .logo {
        margin: auto;
        font-size: 28px;
    }
}

.contact {
    padding-bottom: 100px;
    color: #142e26;
}

.contact .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    align-items: center;
}

.contact .location-side {
    font-weight: bold;
    font-size: 15px;
}

.contact .location-side h3 {
    padding: 10px 0 0 0;
}

.contact .email-side input,
textarea {

    border: none;
    border: 1px solid #142e26;
    opacity: 90%;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
}

.contact .email-side h3 {
    margin: 10px 0;

}

.contact .email-side input[type=email],
.contact .email-side input[type=text] {
    direction: ltr;
    width: 100%;
    padding: 12px 20px;
    font-weight: bold;
}

.contact .email-side textarea {
    outline: none;
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    resize: none;
    font-weight: bold;
}

.contact .email-side button {
    margin: 20px 0;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    background: #2B6151;
    color: #fff;
    border-radius: 3px;

}

.footer {
    padding: 100px 0;
}

.footer .logo {
    display: block;
    margin: 0 auto;
}

.footer .social {
    display: block;
    text-align: center;
    padding: 20px 0;
}

.footer .social i {
    color: #2B6151;
    cursor: pointer;
    font-size: 20px;
    margin: 0 10px;
    text-align: center;
}

.footer p {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #142e26;
}

.footer span {
    color: #142e26;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    display: block;
    padding-top: 10px;
    letter-spacing: -0.5px;
}

@media (min-width:767px) {
    .container {
        padding-left: 100px;
        padding-right: 100px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width:767px) {
    .timeline {
        padding-right: 20px;
    }

    .timeline .box::before {
        left: calc(100% + 22px);
    }

    .main-title {
        padding-right: 20px;
    }

    .contact .container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 40px;
    }
}